body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
    font-size: larger;
}
#container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 60vw;
    width: 60vw;
    background-color: rgb(47, 137, 255);
    font-size: 4vw;
    border-radius: 10%;
    font-weight: 500;
    margin: 5%;
    padding: 5%;
    background: linear-gradient(135deg, #00aaff, #0047b3); /* Blauer Farbverlauf */
    box-shadow: 0 0 4vw rgba(0, 0, 0, 0.363);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#container:hover{
  box-shadow: 0 0 5vw rgba(0, 0, 0, 0.493);
}

#SongInfoDate{
    font-size: 17vw;
    font-weight: 900;
}

#SongInfoDate,
#SongInfoName,
#SongInfoArtist{
    display: none;
    text-align: center;
}

#SongInfoName{
    font-style: italic;
    font-weight: 300;
}

input {
    width: 100%;
  padding: 14px 18px;
  font-size: 2vw;
  border: 2px solid #ddd;
  border-radius: 30px;
  outline: none;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  box-sizing: border-box;
  }

  input:focus {
    border-color: #75bcff;
    background-color: #fff;
  }

  input::placeholder {
    color: #888;
    font-style: italic;
  }

  form{
    width: 40vw;
  }